/* map ratio */
.ratio {
	height:9px;
	width:100%;
	background:#DDDDDD;
}
.ratio .length {
	background:#F03131;
	height:9px;
	width:50px;
}

/* text on one line */
.text-online {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* tip box */
.tip {
	position: absolute;
	top:25px;
	left:-10px;
	z-index: 1010;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #000000;
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
	color:#FFFFFF;
	opacity: 0.7;
	font-size:12px;
	width:40px;
	height:23px;
	text-align:center;
}
.tip i {
	position:absolute;
	top:-14px;
	left:12px;
	display:block;
	border-color:transparent transparent #000000 transparent;
	border-style:dashed dashed solid dashed;
	border-width:7px;
	height:0;
	width:0;
	font-size: 0;
	line-height: 0;
}