/**
  * layout css style
  * @author yangkang
  * @version 0.3.1
  */
 .layout {
	margin:0 auto;
	width:960px;
	min-height:600px;
	border-top:0;
	*zoom: 1; /* ie6 ie7*/
}
.layout:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content: " ";
	clear:both;
	height:0;
}
.col-nav {
	width:159px;
	float:left;
}
.col-filter {
	width:199px;
	padding:0 15px;
	float:right;
	border-top:1px solid #EDEDED;
}
.col-main {
	width:570px;
	float:left;
	/*width:100%;*/
}
.col-section {
	width:799px;
	float:left;
}
 .bg {
  	background:#FAFAFA;
 }
.header {
	background-color: #32B38C;
	height: 50px;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:11;
}
.header .in {
	width:960px;
	margin:0 auto;
	position:relative;
}