/**
  * reset css style
  * @author yangkang
  * @version 0.3.1
  */
html {
	background:#FFF;
	height:100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	margin:0;
	padding:0;
	display:block;
}
audio,video {
	background:transparent;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,i,em,strong,th,var {
	font-style:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
blockquote:before, blockquote:after,q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
body {
	line-height:1;
	font:12px/1.5 "Microsoft YaHei", tahoma,arial,'宋体',Helvetica;
}
input,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
	outline:none; /* chrome yellow line */
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
a {
	text-decoration: none;
	outline:0;
}
a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}
* html .clear             { zoom: 1; } /* IE6 */
*:first-child+html .clear { zoom: 1; } /* IE7 */
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.hide {
	display:none;
}
/* power too!
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (max-width: 480px) {}
*/
/* placeholder */
input::-webkit-input-placeholder {
   color: #CCC;
}
input:-moz-placeholder { /* Firefox 18- */
   color: #CCC;  
}
input::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC;  
}
input:-ms-input-placeholder {  
   color: #CCC;
}